@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    position: fixed;
    width: 100%;
    transition: .3s;
}

#header.header-scroll{
    background-color: #fff;
    padding: 15px 80px;
}

.title{
    font-size: 32px;
    color: #fff;
}

#header.header-scroll .title{
    color: #000;
}

#header.header-scroll .navbar-mobile li a{
    color: #000;
}


nav .navbar-mobile{
    display: flex;
}


nav .navbar-mobile li a:hover,
#header.header-scroll .navbar-mobile li a:hover{
    color: #ff0157;
}


.title span{
    color: #ff0157;
}

nav .navbar-mobile{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav .navbar-mobile li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
} 

nav .navbar-mobile li a:hover{
    color: #ff0157;
}

#home{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(bg.jpg);
}

.container-home{
    width: 60%;
}

.container-home h2{
    font-size: 75px;
    font-weight: 800;
    color: #fff;
}

.container-home p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
    color: #fff;
}

.btn-home{
    margin-top: 30px;
}

.btn-home a{
    text-decoration: none;
    color: #fff;
    background-color: #ff0157;
    padding: 10px 20px;
    transition: 0.3s
}

.btn-home a:hover{
    letter-spacing: 2px;
}

#about{
    padding: 80px 120px;
    display: flex;
    gap: 50px;
}

.container-about-text, .container-about-img{
    width: 50%;
}

.container-about-text h2 span{
    color: #ff0157;
    font-size: 50px;
    font-weight: 700;
}

.container-about-text h2{
    font-size: 34px;
    font-weight: 400;
}

.container-about-text p{
    line-height: 1.5;
    text-align: justify;
}

.container-about-img img{
    width: 100%;
    height: 100%;
}
/* section menu */
#menu{
    padding: 80px 120px;
}

.container-menu-title{
    text-align: center;
    line-height: 1.5;
}

.container-menu-title h2{
    font-size: 34px;
    font-weight: 400;
}

.container-menu-title h2 span{
    color: #ff0157;
    font-size: 50px;
}

.container-menu-img{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 26px;
    justify-content: center;
}

.card-menu{
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card-menu img{
    width: 350px;
}

.card-menu h2{
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0;
}

.btn-view-all{
    margin-top: 30px;
}

.btn-view-all a{
    text-decoration: none;
    color: #fff;
    background-color: #ff0157;
    padding: 10px 20px;
    transition: 0.3s
}

.btn-view-all a:hover{
    letter-spacing: 2px;
}

#expert{
    padding: 80px 120px;
}

.container-expert-title{
    text-align: center;
    line-height: 1.5;
}

.container-expert-title h2{
    font-size: 34px;
    font-weight: 400;
}

.container-expert-title h2 span{
    font-size: 50px;
    color: #ff0157;
    font-weight: 700;
}

.container-expert-img{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    gap: 26px;
    justify-content: center;
}

.card-expert{
    padding: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card-expert img{
    width: 250px;
}

.card-expert h2{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

#testimonial{
    background-image: url(bg2.jpg);
    min-height: 100vh;
    padding: 80px 120px;
}

.container-said-title{
    text-align: center;
    line-height: 1.5;
    color: #fff;
}

.container-said-title h2{
    font-size: 34px;
    font-weight: 300;
}

.container-said-title h2 span{
    font-size: 50px;
    color: #ff0157;
    font-weight: 700;
}

.container-said-img{
    display: flex;
    gap: 30px;
}

.card-said{
    padding: 30px;
    background-color: #fff;
    margin-top: 30px;
}

.card-said img{
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-said p{
    text-align: center;
    margin-top: 16px;
}

.card-said h2{
    font-size: 20px;
    color: #ff0157;
    text-align: center;
    margin-top: 16px;
}

#contact{
    padding: 80px 120px;
    background: url(bg3.jpg);
    min-height: 100vh;
    background-size: cover;
}

.container-contact-title{
    text-align: center;
    line-height: 1.5;
}

.container-contact-title h2{
    font-size: 34px;
    font-weight: 300;
}

.container-contact-title h2 span{
    font-size: 50px;
    color: #ff0157;
    font-weight: 300;
}

.card-contact{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    width: fit-content;
    margin-top: 40px;
}

.card-contact-form{
    padding: 40px 80px;
}

#name, #email, #massage{
    width: 300px;
    padding: 10px;
    margin-top: 16px;
}

.btn-send{
    margin-top: 26px;
}

.btn-send a{
    text-decoration: none;
    color: #fff;
    background-color: #ff0157;
    padding: 10px 20px;
}

footer{
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

footer span{
    color: #ff0157;
}

@media (max-width: 1024px) {
    #header{
        padding: 10px;
    }

    #header.header-scroll{
        padding: 10px;
    }

    #header.header-scroll .navbar-mobile li a{
        color: #fff;
    }

    /* menu 3 baris */
    .menu-toggle{
        background-image: url(menunavbar.png);
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    /* menu close icon */
    .menu-toggle.active{
        background-image: url(close.png);
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        z-index: 10;
    }

    #header.header-scroll .menu-toggle{
        filter: invert(1);
    }

    #header.header-scroll .menu-toggle.active{
        filter: invert(0);
    }

    nav .navbar-mobile{
        display: none;
    }

    nav .navbar-mobile.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }

    nav .navbar-mobile li a {
        color: #fff;
    }

    .container-home{
        width: 100%;
    }

    .container-home h2{
        font-size: 48px;
    }

    .container-home p{
        font-size: 16px;
    }

    #about {
        padding: 20px;
        flex-direction: column;
        gap: 50px;
    }

    .container-about-text, .container-about-img {
        width: 100%;
    }

    .container-menu-title h2 {
        font-size: 28px;
        font-weight: 400;
    }

    .container-expert-title h2 {
        font-size: 28px;
        font-weight: 400;
    }

    #testimonial {
        background-image: url(bg2.jpg);
        min-height: 100vh;
        padding: 20px;
    }

    .container-said-img {
        flex-direction: column;
        gap: 30px;
    }

    .container-said-title h2 {
        font-size: 28px;
        font-weight: 300;
    }

    .container-contact-title h2 {
        font-size: 28px;
        font-weight: 300;
    }
    

    #contact {
        padding: 10px;
        background: url(bg3.jpg);
        min-height: 100vh;
        background-size: cover;
    }
    
    .card-contact {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        flex-direction: column;
        margin-top: 40px;
    }

    .card-contact-form {
        padding: 20px 40px;
    }
}